
 body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  
  }
  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
    background: rgb(255,254,255);
  background: linear-gradient(56deg, rgba(255,254,255,1) 0%, rgba(82,0,183,1) 0%, rgba(101,23,168,1) 0%, rgba(86,5,180,1) 0%, rgba(157,230,104,1) 0%, rgba(46,36,36,1) 100%, rgba(233,41,41,1) 100%, rgba(199,58,58,1) 100%, rgba(255,30,30,1) 100%, rgba(0,0,0,1) 100%, rgba(163,163,163,0) 100%);
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background: rgb(255,254,255);
    background: linear-gradient(56deg, rgba(255,254,255,1) 0%, rgba(82,0,183,1) 0%, rgba(101,23,168,1) 0%, rgba(86,5,180,1) 0%, rgba(157,230,104,1) 0%, rgba(46,36,36,1) 100%, rgba(233,41,41,1) 100%, rgba(199,58,58,1) 100%, rgba(255,30,30,1) 100%, rgba(0,0,0,1) 100%, rgba(163,163,163,0) 100%);
    color: white;
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }