<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
</head>

<body>
    <div class="about-section">
        <h1>About Us</h1>
        <p>Custom made discord bots especially for you!</p>
        <p>We're a small company called X. We design, program and create custom made discord bots for your personal use!
            Below this small
            intro you can find our team members. Feel free to send a commision to any of us and we'll see if we can make
            it happen!
        </p>
    </div>

    <h2 style="text-align:center">Our Team</h2>
    <div class="row">
        <div class="column">
            <div class="card">
                <div class="container">
                    <h2>Mathieu</h2>
                    <p class="title">Van daele</p>
                    <p>0497 25 36 14</p>
                    <p>mathievandaele...</p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <div class="container">
                    <h2>Dean</h2>
                    <p class="title">Timmers</p>
                    <p>0496 62 31 45</p>
                    <p>deantimmers@hotmail.com</p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <div class="container">
                    <h2>Michael</h2>
                    <p class="title">Kleynen</p>
                    <p>0478 54 67 25</p>
                    <p>Michaelkleynen@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>