<<<<<<< HEAD
body{
     /* background-image: url(background.jpg);
    background-attachment: fixed;
    background-size: cover; */
    background-color: black;
}
h1{
    color: white;
}
p{
    color: white;
}
.container-fluid{
    height: 750px;
    text-align: center;
}
.contactHeader{
    text-align: center;
    height: 200px;
    width: 100%;
}

.icons{
    margin: 10px;
}

.form-control{
    width: 50px;
}
input.inputClass {
    width: 300px;
    height: 35px;
    border-radius: 8px;
    margin: 12px;
}

input.inputClass2 {
    width: 300px;
    height: 80px;
    border-radius: 8px;
    margin: 12px;
}
.buttonClass{
        border: none;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        border-radius: 20px;
}
.menu{
    width: 100%;
    background-color: rgb(43, 35, 35);
    text-align: center;
    height: 50px;
    line-height: 47px;
}

a{
    color: white;
    margin: 25px;
}
a:hover{
    color: rgb(148, 148, 238) !important;
    text-decoration: none !important; 
}

footer{
margin-top: 180px;
}
=======
body {
    --color-primary: #009579;
    --color-primary-dark: #007f67;
    --color-secondary: #252c6a;
    --color-error: #cc3333;
    --color-success: #4bb544;
    --border-radius: 4px;

    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: grey;
    background-size: cover;
}

.container {
    width: 400px;
    max-width: 400px;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
    background: #ffffff;
}

.container,
.form__input,
.form__button {
    font: 500 1rem 'Quicksand', sans-serif;
}

.form--hidden {
    display: none;
}

.form > *:first-child {
    margin-top: 0;
}

.form > *:last-child {
    margin-bottom: 0;
}

.form__title {
    margin-bottom: 2rem;
    text-align: center;
}

.form__message {
    text-align: center;
    margin-bottom: 1rem;
}

.form__message--success {
    color: var(--color-success);
}

.form__message--error {
    color: var(--color-error);
}

.form__input-group {
    margin-bottom: 1rem;
}

.form__input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid #dddddd;
    outline: none;
    background: #eeeeee;
    transition: background 0.2s, border-color 0.2s;
}

.form__input:focus {
    border-color: var(--color-primary);
    background: #ffffff;
}

.form__input--error {
    color: var(--color-error);
    border-color: var(--color-error);
}

.form__input-error-message {
    margin-top: 0.5rem;
    font-size: 0.85rem;
    color: var(--color-error);
}

.form__button {
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #ffffff;
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
    background: var(--color-primary);
}

.form__button:hover {
    background: var(--color-primary-dark);
}

.form__button:active {
    transform: scale(0.98);
}

.form__text {
    text-align: center;
}

.form__link {
    color: var(--color-secondary);
    text-decoration: none;
    cursor: pointer;
}

.form__link:hover {
    text-decoration: underline;
}
>>>>>>> 7b25ac0 (update v3.0)
