<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="css\style.css"> -->
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Discord Bots</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <br> 
                <h2>Custom Discord bots</h2>
                <p>
                On your free login page you can add a single bot on discord. 
                With a premium package for just €x a month,
                you can add your own custom commands in addition to our, built-in commands.
                Wether you disable those or change some things is up to you.
                </p>
                  <img src="../../assets/img/main-image.png" alt="Example">
            </div>
        </div>
    </div>
</body>
</html>