<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Document</title>
</head>

<body>
  <div class="menu">
    <a style="color:white" routerLink="main">Home</a>
    <a style="color:white" routerLink="products">Products</a>
    <a style="color:white" routerLink="contact">Contact</a>
    <a style="color:white" routerLink="about-us">About us</a>
    <a style="color:white" routerLink="login">Login</a>
  </div>

  <router-outlet></router-outlet>

</body>

</html>