<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="css\style.css"> -->
    
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Discord Bots</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-4 xs-12">
                <div class="card-header" id="number-one">Fun bot</div>
                <div class="card-body"> <!-- Content of "card" -->
                    <ul class="card-text">!bot talk</ul> <!-- Items -->
                    <ul class="card-text">!bot coinflip</ul>
                    <ul class="card-text">!bot weather</ul>
                    <ul class="card-text">!bot help</ul>
                    
                    <a href="https://discord.com/api/oauth2/authorize?client_id=813422082549088266&permissions=0&scope=bot" target="_blank" class="btn btn-primary">Get it now !</a>
                </div>
            </div>
            <div class="col-md-4 xs-12">
                <div class="card-header" id="number-two">JS bot2</div>
                <div class="card-body"> <!-- Content of "card" -->
                    <ul class="card-text">Level system</ul> <!-- Items -->
                    <ul class="card-text">Warning system</ul>
                    <ul class="card-text">Bans</ul>
                    <ul class="card-text">Tweets</ul>
                    <ul class="card-text">Voting system</ul>
                    <a href="https://discordapp.com/oauth2/authorize?client_id=811822410843160607&scope=bot&permissions=2587094998" target="_blank" class="btn btn-primary">Get it now !</a>
                </div>
            </div>
            <div class="col-md-4 xs-12">
                <div class="card-header" id="number-three">Product</div>
                <div class="card-body"> <!-- Content of "card" -->
                    <ul class="card-text">Item #1</ul> <!-- Items -->
                    <ul class="card-text">Item #2</ul>
                    <ul class="card-text">Item #3</ul>
                    <ul class="card-text">Item #4</ul>
                    <ul class="card-text">Item #5</ul>
                    <a href="#" class="btn btn-primary">Get it now !</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>